.game-field{
    position: relative;
}

.score{
    border: 1px solid green;
    box-sizing: border-box;
    width: 70px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
}

.button-start{
    margin: 10px 0;
}

.player1{
    position: absolute;
    box-sizing: border-box;
    border-width: 1px;
}

.player2{
    position: absolute;
    box-sizing: border-box;
}

.ball{
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
}